/* HTML Element Styles */
body {font-family: "Trebuchet MS";}
p {text-align: center;}
tr:nth-child(n) {color:#000 !important;background-color:#0e7d93 !important}
tr:nth-child(2n) {color:#fff !important;background-color:#35ceec !important}
th:nth-child(n+1) {text-align: center;}
.buttonSearch {border-radius: 12px;}
th {font-size: 15px;}
/* Class Styles */
.black_font{color: #000;}
.bolding {text-align: center; font-weight: 900; font-size: 20px; background-color:#13afce;}
.tur_blue {font-weight: 900; font-size: 16px; background-color:#13afce;}
.board {border-color: red;}
.smfs {font-size: 16pt;}
.font1 {color: blue;text-align: center;}
.job_info_div {border: 2px solid red; border-radius: 5px}
.upper_align {text-align: left;}
.lower_align {vertical-align: bottom;}



/* Blue colors */
.w3-theme-l5 {color:#000 !important;background-color:#dcf7fc !important}
.w3-theme-l4 {color:#000 !important;background-color:#baeef9 !important}
.w3-theme-l3 {color:#000 !important;background-color:#97e6f5 !important}
.w3-theme-l2 {color:#fff !important;background-color:#75ddf2 !important}
.w3-theme-l1 {color:#fff !important;background-color:#52d5ef !important}
.w3-theme-d1 {color:#fff !important;background-color:#35ceec !important}
.w3-theme-d2 {color:#fff !important;background-color:#18c7e9 !important}
.w3-theme-d3 {color:#fff !important;background-color:#13afce !important}
.w3-theme-d4 {color:#fff !important;background-color:#1096b0 !important}
.w3-theme-action {color:#fff !important;background-color:#0e7d93 !important}
.w3-text-theme {color:#1a237e !important}

/* Orange Colors */
.orange-w3-theme-l5 {color:#000 !important; background-color:#fef8f5 !important}
.orange-w3-theme-l4 {color:#000 !important; background-color:#fce8dc !important}
.orange-w3-theme-l3 {color:#000 !important; background-color:#f9d1ba !important}
.orange-w3-theme-l2 {color:#000 !important; background-color:#f5ba97 !important}
.orange-w3-theme-l1 {color:#000 !important; background-color:#f2a375 !important}
.orange-w3-theme-d1 {color:#fff !important; background-color:#ec7835 !important}
.orange-w3-theme-d2 {color:#fff !important; background-color:#e96518 !important}
.orange-w3-theme-d3 {color:#fff !important; background-color:#ce5813 !important}
.orange-w3-theme-d4 {color:#fff !important; background-color:#b04b10 !important}
.orange-w3-theme-d5 {color:#fff !important; background-color:#933f0e !important;}


.panel > .panel-heading {background-image: none;background-color:#fce8dc;color:#000;}
.panel > .panel-body {background-image: none;background-color:#ec7835;color: white;}
