{% extends 'about/header.html' %}

{% block content %}
  <div class="row">
<!--  This is an example of how to reference templates using include. See html for basic syntax.
   {% include 'about/includes/htmlsnippit.html' %}
-->
    <div class="container-fluid">
      <div class="panel panel-default" >
        <div class="panel-heading">
          <h3> You can contact me at any of the methods listed below:</h3>
        </div>
        <div class="panel-body">
          <h4> Email: tyler.lehman@colorado.edu </h4>
          <h4> Phone: (970)217-5480 </h4>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
